
html {
    /* Background */
    background-image: url('../images/pinkPaw.png'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {

    text-align: center;
}